# Universidad de la Sabana
## Big Data Tools
### Coterminal - Ingeniería Informática
### Prof. Hugo Franco

In [15]:
import pandas as pd
import os


from IPython.display import display

- We'll define the paths for the files selected for the analysis.

In [16]:
csv_path = 'result_retrieve_left-and-right_x_50_2016_modified.csv'
parquet_path = 'result_retrieve_left-and-right_x_50_2016_modified.parquet'

- Now, we'll load the two files.

In [17]:
# --- Load the modified files ---
print("Loading modified files into new DataFrames...")
df_csv = pd.read_csv(csv_path)
df_parquet = pd.read_parquet(parquet_path)

print("Modified files loaded successfully. Here is a preview of the data:")
display(df_csv.head())

Loading modified files into new DataFrames...
Modified files loaded successfully. Here is a preview of the data:

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
0,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-165.694494,-123.182720,36.022345,0.083000,0.029000,0.0,-0.130000,-0.004700,0.0
1,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-30.280983,-115.487058,46.915905,0.135116,0.062588,0.0,-0.296398,-0.030691,0.0
2,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,150.967856,-63.342459,45.734985,0.170525,0.072031,0.0,-0.288648,-0.046190,0.0
3,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,341.777878,21.205594,33.002680,0.186234,0.069473,0.0,-0.185545,-0.048551,0.0
4,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,504.822778,112.502710,14.049575,0.179248,0.067058,0.0,-0.065883,-0.035127,0.0

- Let's compare the disk size and the shape (rows, columns) of the two file formats. You'll notice that Parquet is significantly more efficient for storage.

In [18]:
# --- Compare file size and DataFrame shape ---

# Get file sizes
csv_size_bytes = os.path.getsize(csv_path)
parquet_size_bytes = os.path.getsize(parquet_path)

# Get DataFrame shapes
csv_rows, csv_cols = df_csv.shape
parquet_rows, parquet_cols = df_parquet.shape

# Print comparison
print("--- File and DataFrame Comparison ---")
print("\nCSV File:")
print(f"  - File Path: {csv_path}")
print(f"  - Size on disk: {csv_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {csv_rows} rows, {csv_cols} columns")

print("\nParquet File:")
print(f"  - File Path: {parquet_path}")
print(f"  - Size on disk: {parquet_size_bytes / 1024:.2f} KB")
print(f"  - Shape: {parquet_rows} rows, {parquet_cols} columns")

# Highlight the size difference
size_difference = (csv_size_bytes - parquet_size_bytes) / csv_size_bytes * 100
print(f"\nNote: The Parquet file is {size_difference:.2f}% smaller than the CSV file.")

--- File and DataFrame Comparison ---

CSV File:
  - File Path: result_retrieve_left-and-right_x_50_2016_modified.csv
  - Size on disk: 5118.94 KB
  - Shape: 19800 rows, 22 columns

Parquet File:
  - File Path: result_retrieve_left-and-right_x_50_2016_modified.parquet
  - Size on disk: 234.40 KB
  - Shape: 8800 rows, 22 columns

Note: The Parquet file is 95.42% smaller than the CSV file.

- The .describe() method provides a powerful statistical summary of the data. Using include='all' gives us statistics for both numerical and text-based columns.

In [19]:
# --- Obtain a statistical description of the DataFrame ---
# (We only need to run this on one DataFrame, as they contain identical data)

print("--- Statistical Description ---")
df_parquet.info()
display(df_parquet.describe(include='all'))

--- Statistical Description ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact_id     8800 non-null   object
 1   year        8800 non-null   object
 2   subject_id  8800 non-null   object
 3   date        8800 non-null   object
 4   otp         8800 non-null   object
 5   trial       8800 non-null   object
 6   group       8800 non-null   object
 7   marker      8800 non-null   object
 8   side        8800 non-null   object
 9   joint       8800 non-null   object
 10  variable    8800 non-null   object
 11  units       8800 non-null   object
 12  protocol    8800 non-null   object
 13  value_x     7216 non-null   float64
 14  value_y     7216 non-null   float64
 15  value_z     7216 non-null   float64
 16  sd_x        8800 non-null   float64
 17  sd_y        8800 non-null   float64
 18  sd_z        8800 non-null   float64
 19  md_x        8800 non-null   float64
 20  md_y        8800 non-null   float64
 21  md_z        8800 non-null   float64
dtypes: float64(9), object(13)
memory usage: 1.5+ MB

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
count,8800,8800,8800,8800,8800,8800,8800,8800,8800,8800,...,8800,7216.000000,7216.000000,7216.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000
unique,66,1,2,2,1,3,1,3,2,5,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Hip,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,200,8800,6600,6600,8800,4400,8800,4000,4400,2400,...,8800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,45.432984,15.916871,-3.227927,1.973306,0.803216,1.772090,3.869123,0.029573,-0.736129
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,180.666356,85.375134,27.399121,2.648440,1.446461,3.297644,9.737355,1.260679,3.560550
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-603.222227,-404.164356,-168.739931,0.000000,0.000000,0.000000,-19.822896,-7.105825,-17.840089
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,-4.138910,-18.647917,0.002103,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.904576,0.000000,-0.132565,0.213006,0.000000,0.000000,0.002816,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.310656,3.409325,7.854257,4.939620,1.970042,2.091543,2.784633,0.000000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1500.743634,866.649194,200.863082,9.514070,8.076213,10.415591,59.106221,5.220230,4.020000

This is the core analysis step. We group the data by the specified categories and calculate the average value_x, value_y, and value_z for each group.

In [20]:
# --- Create average values for x, y, and z columns ---

# Define the columns to group by and the columns to aggregate
grouping_cols = ['fact_id', 'side', 'joint', 'variable']
value_cols = ['value_x', 'value_y', 'value_z']

print(f"Grouping by {grouping_cols} and calculating the mean of {value_cols}...")

# Perform the groupby and aggregation.
# .reset_index() converts the grouped columns back into regular columns.
df_agg = df_parquet.groupby(grouping_cols)[value_cols].mean().reset_index()

# Rename columns for clarity in the database
df_agg.rename(columns={
    'value_x': 'avg_x',
    'value_y': 'avg_y',
    'value_z': 'avg_z'
}, inplace=True)

print("\nPreview of the final data to be loaded:")
display(df_agg.head())

Grouping by ['fact_id', 'side', 'joint', 'variable'] and calculating the mean of ['value_x', 'value_y', 'value_z']...

Preview of the final data to be loaded:

,fact_id,side,joint,variable,avg_x,avg_y,avg_z
0,16JZX591JS12OA71FJG|2016-10-06,R,Thorax,ThoraxAngles,6.180246,-1.023905e+00,-27.015106
1,1CT4N2QMHHMQ65OLACQ|2016-09-16,R,Hip,HipMoment,-9.207832,-1.036203e+01,0.157902
2,1IS23X3HH1TI5P28Y39|2016-09-16,L,Hip,HipMoment,-40.811779,-7.442207e+01,22.114508
3,1NB0OCWZZK52RI8FJLP|2016-10-06,L,Ankle,AnkleMoment,-11.118538,-1.254974e-16,3.957033
4,1SHOXV29S3GK4CT68B3|2016-09-16,L,Ankle,AnklePower,0.000000,0.000000e+00,0.002611

# Taller
- Andrés Felipe Sanchez Rincon
- Ricardo Andrés Cortés Coronell
- Carlos Andrés Zuluaga Mora


## 1. Handling Missing Data:

•The value_x, value_y, and value_z columns have some missing entries. First, calculate and print the total number of missing values for each of these three columns.

•Create a new, cleaned DataFrame by dropping all rows that have missing values in any of those three columns (value_x, value_y, or value_z).

•Verify your work by checking for missing values again in the new DataFrame.3.Data Filtering and Subsetting

•From your cleaned DataFrame (from Question 2), remove the columns sd_x, sd_y, sd_z, md_x, md_y, and md_z, as they are not needed for this analysis.

•Create a new DataFrame that contains only the data for the 'Hip' joint. How many rows remain in this new 'Hip' DataFrame?

In [21]:
# Cargar el CSV
df = pd.read_csv("result_retrieve_left-and-right_x_50_2016_modified.csv")

# 1. Calcular valores faltantes
missing_counts = df[['value_x', 'value_y', 'value_z']].isnull().sum()
print("Valores faltantes iniciales:")
print(missing_counts)

# 2. Limpiar DataFrame eliminando filas con valores faltantes en esas columnas
df_cleaned = df.dropna(subset=['value_x', 'value_y', 'value_z'])

# 3. Verificar que ya no hay valores faltantes
missing_counts_after = df_cleaned[['value_x', 'value_y', 'value_z']].isnull().sum()
print("\nValores faltantes después de limpiar:")
print(missing_counts_after)

# 4. Eliminar columnas no necesarias
df_cleaned_reduced = df_cleaned.drop(columns=['sd_x', 'sd_y', 'sd_z', 'md_x', 'md_y', 'md_z'])

# 5. Filtrar solo la articulación 'Hip'
df_hip = df_cleaned_reduced[df_cleaned_reduced['joint'] == 'Hip']
print(f"\nNúmero de filas para la articulación 'Hip': {len(df_hip)}")

Valores faltantes iniciales:
value_x    1584
value_y    1584
value_z    1584
dtype: int64

Valores faltantes después de limpiar:
value_x    0
value_y    0
value_z    0
dtype: int64

Número de filas para la articulación 'Hip': 4872

## 2. File Format Comparison:

•Take the final 'Hip' DataFrame from Question 3 and save it to two new files: hip_data.csv and hip_data.parquet.

•Using Python's os library, get the size of each file on disk.

•Calculate and print the percentage difference in size, showing how much smaller the Parquet file is compared to the CSV.

In [22]:
# 1. Se definen los nombres de los archivos de salida (output)
csv_output_path = 'hip_data.csv'
parquet_output_path = 'hip_data.parquet'

# 2. Se guarda el DataFrame 'Hip' en un archivo CSV
df_hip.to_csv(csv_output_path, index=False)

# 3. Se guarda el DataFrame 'Hip' en un archivo Parquet
df_hip.to_parquet(parquet_output_path, index=False)

# 4. Se extrae el tamaño de cada archivo en el disco
csv_output_size = os.path.getsize(csv_output_path)
parquet_output_size = os.path.getsize(parquet_output_path)

# 5. Se calcula la diferencia de tamaño en terminos de porcentaje
csv_parquet_difference = ((csv_output_size - parquet_output_size) / csv_output_size) * 100

# 6. Se imprimen los resultados
print(f"Tamaño del archivo CSV: {csv_output_size /1024: .2f} KB")
print(f"Tamaño del archivo Parquet: {parquet_output_size /1024: .2f} KB")
print(f"El archivo Parquet es {csv_parquet_difference:.2f}% más pequeño que el archivo CSV.")

Tamaño del archivo CSV:  907.23 KB
Tamaño del archivo Parquet:  115.16 KB
El archivo Parquet es 87.31% más pequeño que el archivo CSV.

## 3. Advanced Pandas Aggregation:

•Using the full cleaned DataFrame (from Question 2, before filtering for the 'Hip' joint), group the data by side and variable.

•For each group, calculate the standard deviation (std) of value_x, value_y, and value_z.

•Display the resulting aggregated DataFrame. Which variable shows the highest standard deviation for value_x on the 'L' (Left) side?

In [37]:
# 1. Agrupar por 'Side' y 'Variable'
df_grouped = df.groupby(['side', 'variable'])[['value_x', 'value_y', 'value_z']].mean().reset_index()

# Mostrar Data Frame agregado
print(f"Data Frame agregado:\n{df_grouped}\n")

# 2. Calcular la desviación estándar para cada variable
x_std = df_grouped.groupby('side')['value_x'].std()
y_std = df_grouped.groupby('side')['value_y'].std()
z_std = df_grouped.groupby('side')['value_z'].std()

print(f"La desviación estándar de X es:\n {x_std}")
print(f"La desviación estándar de Y es:\n {y_std}")
print(f"La desviación estándar de Z es:\n {z_std}")

# 3. ¿Qué variable muestra la mayor desviación de estándar en L?
print()
max_std = max(x_std['L'], y_std['L'], z_std['L'])
if max_std == x_std['L']:
    print("La variable que muestra la mayor desviación estándar en L es: X")
elif max_std == y_std['L']:
    print("La variable que muestra la mayor desviación estándar en L es: Y")
else:
    print("La variable que muestra la mayor desviación estándar en L es: Z")

Data Frame agregado:
   side      variable     value_x     value_y    value_z
0     L   AnkleAngles    4.407460   -0.345501   8.667674
1     L   AnkleMoment  301.626508    1.470049   5.887500
2     L    AnklePower    0.000000    0.000000   0.107209
3     L     HipAngles   30.022897    1.393280 -13.266072
4     L     HipMoment   48.738425  131.486126  -4.757400
5     L      HipPower    0.000000    0.000000   0.178581
6     L    KneeAngles   35.697567  -11.139698  -4.929386
7     L    KneeMoment   19.166441   20.644291  -1.032082
8     L     KneePower    0.000000    0.000000  -0.130541
9     L  PelvisAngles   17.321727    2.098644   7.690480
10    L  ThoraxAngles    4.521648    1.940969   9.137380
11    R   AnkleAngles    6.417338    2.302416  -5.006971
12    R   AnkleMoment  259.397463   29.467339  26.658447
13    R    AnklePower    0.000000    0.000000   0.009300
14    R     HipAngles   30.841807    4.219198  -1.390950
15    R     HipMoment   49.477142  216.122922  -7.312448
16    R      HipPower    0.000000    0.000000   0.212409
17    R    KneeAngles   38.274022   -6.221945   6.046176
18    R    KneeMoment  -11.313786   80.651483  30.090551
19    R     KneePower    0.000000    0.000000  -0.064153
20    R  PelvisAngles   17.267386   -1.695587  -7.672001
21    R  ThoraxAngles    5.020103   -1.690672  -9.139630

La desviación estándar de X es:
 side
L    87.678215
R    76.440955
Name: value_x, dtype: float64
La desviación estándar de Y es:
 side
L    39.839856
R    66.825207
Name: value_y, dtype: float64
La desviación estándar de Z es:
 side
L     6.865026
R    13.341569
Name: value_z, dtype: float64

La variable que muestra la mayor desviación estándar en L es: X

6. Finding a Maximum Value:

•Using the full cleaned DataFrame, find the fact_id that corresponds to the single highest value_y measurement recorded in the entire dataset. (Hint: You might find the .idxmax() method useful).

In [40]:
# Buscar fact_id correspondiente al value_y más alto
highest_fact_id = df.loc[df['value_y'].idxmax(), 'fact_id']
print(f"El fact_id con el valor más alto en value_y ({df['value_y'].max()}) es: {highest_fact_id}")

El fact_id con el valor más alto en value_y (867.4643615722656) es: ZRCB7GWUHEJRQF8CBG|2016-09-27